@use "../base/variables" as *;
@use "../base/mixins" as *;

button {
    padding: 10px;
    background-color: $color-header;
    color: $color-hover;
    border: none;
    cursor: pointer;
}

.carrito-flotante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: $color-hover; // o cualquier color que combine
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    z-index: 1000;
    @include transition;

    &:hover {
        background-color: darken($color-hover, 10%);
    }
}
