@use 'variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: $font-principal;
}

body {
    max-width: 2000px;
    background-color: $color-fondo;
    font-size: $font-size-base;
}
