$color-fondo: #5c524d;
$color-texto: black;
$color-header: black;
$color-hover: white;
$color-claro: rgb(248, 240, 219);
$color-subtitulo: rgb(78, 58, 7);
$color-secundario: darkblue;
$color-box: #f9f9f9;
$color-borde: #ccc;

$font-principal: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
$font-secundaria: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

$font-size-base: 16px;
$font-size-h1: 42px;
$font-size-h2: 28px;
$font-size-h3: 20px;
$font-size-button: 24px;
$border-radius-base: 8px;